$color-primary : #9356DC;
$color-secondary : #FF79DA ;
$color-tertiary : #99E2D0;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}

.loader {
    position: fixed;
    background-color: white;
    display: grid;
    place-items: center;
    opacity: 0.9;
    height: 100%;
    inset: 0;
    z-index: 2;
    animation: disappear 500ms 2s forwards ;
    transform-origin: top;

    &::after {
        content: "";
        width: 100px;
        height: 100px;
        border-top: 4px solid $color-primary;
        border-bottom: 4px solid $color-tertiary;
        border-radius: 50%;
        animation: spin 1s linear infinite;
        animation-iteration-count: 3;
    }

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes disappear {
    0%{
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}







header {
    .header__logo {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 1rem;
        box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
        position: relative;
        z-index: 1;

        img {
            width: 150px;
        }

        .header__title{
            font-family: 'Shrikhand', sans-serif;
            font-weight: 500;
        }
    }
    .location-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #eaeaea;
        width: 100%;
        height: 40px;

        form {
            color: #4D4D4D  ;
            display: flex;
            justify-content: center;
            width: fit-content;

        }

        form i {
            font-size: 12px;
            margin-left: 40px;
        }

        input {
            border: none;
            background-color: unset;
            font-weight: 600;
            font-family: 'Roboto', sans-serif;
            margin-left: 10px ;
            color: #4D4D4D ;
            width: 165px;
        }
    }
}  

.search-description {
    padding: 1rem 2rem 3rem 2rem;
    background-color: #f6f6f6;
    text-align: center;


    .search-description__title {
        font-weight: 800;
    }

    .search-description__text {
        font-size: 15px;
        color: #4D4D4D ;
    }

    .search-description__button {
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    border-radius: 2rem;
    border: unset;
    color: #ffffff;
    padding: 1rem 1.25rem;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 25%);
    cursor: pointer;
    font-weight: 600;
    width: fit-content;
    text-decoration: none;
        &:hover {
            opacity: 80%;
            box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 75%);

        }
    }
}






.operation {

    .operation__title {
        margin-left: 15px;
    }

    .operation__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .operation__card {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#f6f6f6;
        height: 60px;
        width: 90%;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: 0px 3px 13px 0px rgb(0 0 0 / 20%);
        &:hover {
            background-color: #e4dbf0;
        } 

        &:hover i {
            color: #9356DC;
            opacity: 100%;
        }

        .operation__card__number {
            position: absolute;
            left: 5%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-primary;
            height: 15px;
            width: 15px;
            border-radius: 50px;
            color: white;
            font-size: 10px;
        }

        i {
        opacity: 50%;
        }

        .operation__card__text {
            font-weight: 800;
            margin-left: 30px;
            font-size: 13px;
        }
    }      
}





.restaurants {
    background-color: #eaeaea;
    padding-bottom: 40px;

    .restaurant__title {
        margin-left: 20px;
        padding-top: 40px;
    }

    .restaurants__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        .restaurant__card {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 10px 0 10px 0 ;
            cursor: pointer;
            text-decoration: none;
            color: black;
        }

            .restaurant__card__top {
                height: 200px;
                width: 90%;
            }
                .restaurant__card__top img {
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 200px;
                    border-radius: 15px 15px 0 0 ;
                }


                .restaurant__card__button {
                    position: absolute;
                    right: 10%;
                    margin-top: 10px;
                    background-color: $color-tertiary;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    border-radius: 5px;
                    height: 30px;
                     width: 75px;
                    border: none;
                    color: #278870;
                }

            .restaurant__card__bottom {
                width: 90%;
                height: 75px;
                background-color: white;
                border-radius: 0 0 15px 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
            }

            .hearts {
                margin-right: 10px;
                cursor: pointer;

                .fa-regular {
                    position: relative;
                    left: 55%; 
                }

                .fa-solid {
                    opacity: 0;
                    color: transparent;
                    background-image : linear-gradient(170deg, #FF79DA, #9356DC);
                    background-clip: text;
                    -webkit-background-clip: text; 
                }

                &:hover .fa-solid {
                    opacity: 1 ;
                    transition : opacity 1s ease-in-out;
                }

                &:hover .fa-regular {
                    display: none;
                }

            }

            .restaurant__card__text {
                margin-left: 10px;
            }

            .restaurant__card__text p {
                line-height: 8px;
            }
            
}

.footer {
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.footer h4 {
    font-family: 'Shrikhand', sans-serif;
    font-weight: 500;
    margin-left: 20px;
    margin-bottom: 10px;
}

.footer a {
    text-decoration: none;
    color: unset;
    margin-left: 20px;
    margin-top: 5px;
}

.footer i {
    margin-right: 5px;
    font-size: 12px;
}













.headermenu {
    width: 90%;
    height: 82px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;

        .headermenu__title {
            font-family: 'Shrikhand', sans-serif;
            font-weight: 500;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        i {
            font-size: 24px;
            width: 7%;
            cursor: pointer;
            text-decoration: none;
            color: black;
        }
}

.headerimage {
    width: 100%;
    height: 50%;
        
    img {
        object-fit: cover;
        max-width: 100%;
    }
}


.containermenu {
    margin-top: -30px;
    border-radius: 30px 30px 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;

        .menu__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 30px 0 15px;

                h2 {
                    font-family: 'Shrikhand', sans-serif;
                    font-weight: 500;
                }

                .hearts {
                    margin-right: 10px;
                    cursor: pointer;
    
                    .fa-regular {
                        position: relative;
                        left: 55%; 
                    }
    
                    .fa-solid {
                        opacity: 0;
                        color: transparent;
                        background-image : linear-gradient(170deg, #FF79DA, #9356DC);
                        background-clip: text;
                        -webkit-background-clip: text; 
                    }
    
                    &:hover .fa-solid {
                        opacity: 1 ;
                        transition : opacity 1s ease-in-out;
                    }
    
                    &:hover .fa-regular {
                        display: none;
                    }
    
                }
                
                i {
                    font-size: 24px;
                }
        }


        .menubloc {

            .menucontent {
                margin-bottom: 30px;
                margin-left: 15px;
                margin-right: 15px;


                .menucontent__title {
                    text-transform: uppercase;
                    margin-bottom: 15px;
                    border-bottom: 3px solid #99E2D0;
                    width: 45px;
                    height: 25px;
            
                    h4 {
                        font-weight: 300;
                    }
                    
                }

                .menucontent__cards {
                    display: flex;
                    flex-direction: column;


                    .menucontent__card {

                        @for $i from 1 through 4 {
                            &:nth-child(#{$i}) {
                                animation-delay: 200ms * $i;
                            }
                        }

                        display: flex;
                        align-items: center;
                        background-color: white;
                        border-radius: 20px;
                        box-shadow: 0px 3px 13px 0px rgb(0 0 0 / 20%);
                        overflow: hidden;
                        margin-bottom: 20px;
                        animation: appear 2s;

                        .menucontent__card__description {
                            padding: 10px;
                            overflow: hidden;
                        }

                        .menucontent__card__title {
                            font-weight: 700;
                            line-height: 0px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        .menucontent__card__text {
                            font-size: 14px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        .menucontent__card__price {
                            margin-left: auto;
                            padding-top: 15px;
                            padding-right: 15px;
                            display: flex;
                            align-items: flex-end;
                        }

                        .menucontent__card__check {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-shrink: 0;
                            background-color: #99E2D0;
                            height: 85px;
                            margin-right: -3rem;
                            width: 3rem;
                            transition: margin-right 0.5s;

                                i {
                                    color: white;
                                    font-size: 25px;
                                }
                        }

                        &:hover {
                            .menucontent__card__check {
                                margin-right: 0;
                            }

                            i {
                                animation: quarterspin 0.5s ease-in-out;
                            }
                        }
                    }
                }
            }
            
            @keyframes quarterspin{
                0% {
                    transform: rotate(-270deg);
                }
            
                100% {
                    transform: rotate(0);
                }
            }
        }




.buttoncontainer {
    width: 100%;
    text-align: center;
}


.btn {
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    border-radius: 30px;
    border: unset;
    color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 25%);
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    width: 200px;
    height: 50px;
    margin-bottom: 50px;

    &:hover {
        opacity: 80%;
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 75%);
    }

}


@keyframes appear {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}


}

